.dropdown {
  margin: 24px 0;
}

.dropdown label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.dropdown select {
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border: none;
  font-size: 18px;
  padding: 18px;
  box-sizing: border-box;
}
